---
BasedOnStyle: LLVM
ColumnLimit: 79
IndentWidth: 4
UseTab: Never # :(
---
Language: Cpp
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Allman # Always
---
Language: Proto
# disable formatting of .proto files
DisableFormat: true
